* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    outline: 0;
}
ul,
ol {
    list-style: none;
}
body {
    font: normal 16px/1 "Questrial";
}

$laptop: 1179px;
$tablet: 769px;
$mobile: 460px;
$mobileSmall: 360px;
$baseColor: #0d211a;
$pointColor: #b46927;
