#info {
    width: 100%;
    padding: 100px 0;
    background: #fbf6f2;
    .inner {
        width: 1180px;
        margin: 0 auto 70px;
        .text {
            display: flex;
            justify-content: center;
            align-content: space-between;
            width: 70%;
            margin: 0 auto 100px;
            padding-bottom: 30px;
            border-bottom: 1px solid $baseColor;
            p {
                &:first-of-type {
                    margin-right: 20px;
                    color: $pointColor;
                    font: 26px/1.3 "Italiana";
                    letter-spacing: 3px;
                }
                &:nth-of-type(2) {
                    font-size: 16px;
                    line-height: 2.2;
                }
            }
        }
        .img-wrap {
            display: flex;
            justify-content: center;
            align-content: space-between;
            .img-card {
                padding: 20px;
                width: 100%;
                position: relative;
                .img {
                    width: 90%;
                    margin-right: 20px;
                    height: 275px;
                }
                &:nth-of-type(1) {
                    .img {
                        background: url(/public/img/main7.jpg) no-repeat center;
                        background-size: cover;
                    }
                }
                &:nth-of-type(2) {
                    .img {
                        background: url(/public/img/main3.jpg) no-repeat center;
                        background-size: cover;
                    }
                }
                &:nth-of-type(3) {
                    .img {
                        background: url(/public/img/main4.jpg) no-repeat bottom center;
                        background-size: cover;
                    }
                }
                figcaption {
                    position: absolute;
                    right: 0;
                    bottom: -50px;
                    padding: 30px 50px;
                    background: #f6f2ef;
                    .img-number {
                        font: 40px/1 "Italiana";
                        color: $pointColor;
                        letter-spacing: 3px;
                        margin-bottom: 20px;
                    }
                    .img-title {
                        font-size: 28px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $laptop) {
    #info {
        .inner {
            width: 100%;
            .text {
                width: 80%;
                p {
                    &:first-of-type {
                        font-size: 22px;
                    }
                    &:nth-of-type(2) {
                        line-height: 2;
                    }
                }
            }
            .img-wrap {
                width: 100%;
                .img-card {
                    width: 100%;
                    figcaption {
                        padding: 20px 30px;
                        .img-number {
                            font-size: 30px;
                        }
                        .img-title {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $tablet) {
    #info {
        .inner {
            .text {
                width: 90%;
            }
            .img-wrap {
                .img-card {
                    padding: 10px;
                    width: 33.3333%;
                    figcaption {
                        .img-number {
                            font-size: 26px;
                        }
                        .img-title {
                            font-size: 20px;
                        }
                    }
                    .img {
                        height: 225px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    #info {
        padding: 60px 0;
        .inner {
            .text {
                width: 95%;
                p {
                    &:first-of-type {
                        font-size: 16px;
                    }
                    &:nth-of-type(2) {
                        font-size: 14px;
                        line-height: 1.8;
                    }
                }
            }
            .img-wrap {
                flex-wrap: wrap;
                .img-card {
                    width: 100%;
                    margin-bottom: 50px;
                    figcaption {
                        .img-number {
                            font-size: 22px;
                        }
                        .img-title {
                            font-size: 18px;
                        }
                    }
                    .img {
                        height: 225px;
                    }
                }
            }
        }
    }
}
