.notice {
    // background: #816246;
    background: $pointColor;
    .inner {
        color: #fff;
        padding-top: 100px;
        h2 {
            font: 30px/1 "Italiana";
            margin-bottom: 100px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .slider-wrap {
            width: 100%;
            position: relative;
            .slider-btn {
                display: flex;
                justify-content: right;
                align-content: space-around;
                margin-right: 20px;
                > div {
                    cursor: pointer;
                    padding: 10px;
                }
            }
            .slider {
                width: 1180px;
                position: relative;
                overflow: hidden;
                ul {
                    width: 400%;
                    &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                    li {
                        width: 25%;
                        height: 100%;
                        float: left;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        .slider-content {
                            width: 80%;
                            float: left;
                            padding: 30px;
                            h3 {
                                font-size: 20px;
                                margin-bottom: 30px;
                                letter-spacing: 2px;
                            }
                            p {
                                font-size: 16px;
                                line-height: 1.5;
                                margin-bottom: 50px;
                            }
                            a {
                                color: #fff;
                                position: relative;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                &::after {
                                    transition: 0.7s;
                                    width: 0%;
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: -10px;
                                    display: block;
                                    height: 1px;
                                    background: #fff;
                                }
                                &:hover {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $laptop) {
    .notice {
        .inner {
            .slider-wrap .slider {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: $tablet) {
    .notice {
        padding-bottom: 0;
        .inner {
            padding-top: 70px;
            h2 {
                font-size: 26px;
                margin-bottom: 70px;
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .notice {
        .inner {
            padding-top: 50px;
            min-height: auto;
            h2 {
                font-size: 22px;
                margin-bottom: 50px;
            }
            .slider-wrap .slider {
                ul {
                    li {
                        .slider-content {
                            width: 100%;
                            h3 {
                                font-size: 18px;
                            }
                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
