.gallery {
    .inner {
        position: relative;
        .loading {
            position: absolute;
            top: 250px;
            left: 50%;
            width: 10%;
            transform: translateX(-50%);
        }
        .list {
            position: relative;
            transform: translateY(200px);
            opacity: 0;
            transition: 1s;
            &.on {
                transform: translateY(0);
                opacity: 1;
            }
        }
        > section {
            &::after {
                content: "";
                display: block;
                clear: both;
            }
            .search-box {
                width: 50%;
                height: 60px;
                margin: 0 auto 50px;
                border-bottom: 2px solid $pointColor;
                input {
                    background: transparent;
                    width: 90%;
                    height: 100%;
                    padding-left: 20px;
                    border: none;
                    outline-color: $pointColor;
                    font: 16px/1 "Questrial";
                    &::placeholder {
                        font: 14px/1 "Questrial";
                        letter-spacing: 2px;
                        color: #a5abb0;
                    }
                }
                button {
                    outline-color: $pointColor;
                    width: 10%;
                    height: 100%;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    .icon-search {
                        font-size: 16px;
                        color: $pointColor;
                    }
                }
            }
            article {
                width: 33.3333%;
                float: left;
                padding: 10px;
                .inner {
                    width: 100%;
                    padding: 30px 10px;
                    border-bottom: 1px solid $baseColor;
                    .pic {
                        width: 100%;
                        margin-bottom: 20px;
                        cursor: pointer;
                        img {
                            width: 100%;
                            filter: grayscale(0.8);
                            transition: 0.5s;
                        }
                        @media (hover: hover) {
                            &:hover {
                                img {
                                    filter: grayscale(0);
                                }
                            }
                        }
                    }
                    h2 {
                        font-size: 12px;
                        line-height: 1.2;
                        color: #777;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 10px;
                        color: #999;
                    }
                }
            }
        }
    }
    .pop {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        padding: 5vw;
        img {
            width: 100%;
            height: 95%;
            margin-top: 15px;
            object-fit: contain;
        }
        p {
            font-size: 14px;
            line-height: 1.2;
            color: #fff;
            text-align: center;
        }
        span {
            font-size: 14px;
            font-weight: bold;
            color: $pointColor;
            position: absolute;
            top: 3vw;
            right: 5vw;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: $laptop) {
    .gallery .inner > section article {
        .inner {
            .pic {
                img {
                    filter: none;
                }
            }
        }
    }
}
@media screen and (max-width: $tablet) {
    .gallery .inner > section article {
        width: 50%;
    }
}
@media screen and (max-width: $mobile) {
    .gallery .inner > section {
        .search-box {
            width: 80%;
        }
        article {
            width: 100%;
        }
    }
    .gallery .pop span {
        top: 5vw;
    }
}
