.location {
    .inner {
        .contact {
            text-align: center;
            h2 {
                font-size: 30px;
                font-weight: normal;
                padding-bottom: 30px;
                margin-bottom: 30px;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0.5;
                    width: 300px;
                    height: 1px;
                    background: $pointColor;
                }
            }
            > p {
                line-height: 1.5;
                margin-bottom: 30px;
            }
            .contact_box {
                display: flex;
                justify-content: center;
                align-content: space-between;
                margin-bottom: 100px;
                .box {
                    width: 25%;
                    padding: 30px;
                    .icon {
                        font-size: 30px;
                        color: $pointColor;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 1.3;
                        &:nth-of-type(1) {
                            font: 26px/1 "Italiana";
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .map-wrap {
            position: relative;
            height: 500px;
            &::after {
                content: "";
                display: block;
                clear: both;
            }
            .branch {
                width: 300px;
                height: 100%;
                float: left;
                display: flex;
                flex-direction: column;
                li {
                    height: 33.3333%;
                    padding: 20px;
                    color: #333;
                    cursor: pointer;
                    &:nth-of-type(1).on {
                        color: #b42727;
                    }
                    &:nth-of-type(2).on {
                        color: #277ab4;
                    }
                    &:nth-of-type(3).on {
                        color: $pointColor;
                    }
                    &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                    .icon {
                        font-size: 40px;
                        margin-top: 10px;
                        margin-right: 20px;
                        float: left;
                        width: 30px;
                    }
                    .map-text {
                        float: left;
                        width: calc(100% - 50px);
                        p {
                            font-size: 16px;
                            line-height: 1.3;
                            &:nth-of-type(1) {
                                font-size: 26px;
                                margin-bottom: 20px;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
            .map-inner {
                width: calc(100% - 300px);
                height: 100%;
                position: relative;
                float: right;
                .custom_typecontrol {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 2;
                    span {
                        display: block;
                        width: 70px;
                        height: 40px;
                        float: left;
                        text-align: center;
                        cursor: pointer;
                        font: 14px/40px "Questrial";
                    }
                    .btn {
                        background: #fff;
                        @media (hover: hover) and (pointer: fine) {
                            &:hover {
                                color: #fff;
                                background: $pointColor;
                            }
                        }
                    }
                    .selected_btn {
                        color: #fff;
                        background: $pointColor;
                    }
                }
                .traffic {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    z-index: 2;
                    li {
                        background-color: $pointColor;
                        color: #fff;
                        padding: 15px 20px;
                        font-size: 14px;
                        cursor: pointer;
                        .traffic-icon {
                            margin-right: 10px;
                        }
                    }
                }
                #map {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: $tablet) {
    .location {
        .inner {
            .contact {
                h2 {
                    font-size: 26px;
                }
                .contact_box {
                    flex-wrap: wrap;
                    margin-bottom: 50px;
                    .box {
                        width: 180px;
                        padding: 10px;
                        margin-bottom: 10px;
                        .icon {
                            font-size: 26px;
                        }
                        p {
                            font-size: 14px;
                            &:nth-of-type(1) {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .map-wrap {
                height: auto;
                .map-inner {
                    width: 100%;
                    height: 400px;
                    float: none;
                }
                .branch {
                    width: 100%;
                    float: none;
                    flex-direction: row;
                    justify-content: space-between;
                    li {
                        width: 220px;
                        height: 100%;
                        .icon {
                            font-size: 30px;
                            width: 20px;
                        }
                        .map-text {
                            p {
                                font-size: 12px;
                                line-height: 1;
                                &:nth-of-type(1) {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $mobile) {
    .location {
        .inner {
            .contact {
                h2 {
                    font-size: 22px;
                }
                .contact_box {
                    .box {
                        .icon {
                            font-size: 22px;
                        }
                        p {
                            &:nth-of-type(1) {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .map-wrap {
                .branch {
                    li {
                        width: 33.3333%;
                        text-align: center;
                        padding: 10px;
                        .icon {
                            display: block;
                            float: none;
                            font-size: 20px;
                            width: 20px;
                            margin: 0 auto 10px;
                        }
                        .map-text {
                            width: 100%;
                            float: none;
                            p {
                                &:nth-of-type(1) {
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
