@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  outline: 0; }

ul,
ol {
  list-style: none; }

body {
  font: normal 16px/1 "Questrial"; }
  body.on {
    overflow: hidden; }

.h {
  position: absolute;
  top: -99999px;
  opacity: 0; }

label,
input {
  vertical-align: middle; }

fieldset {
  border: none; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    display: inline-block;
    padding-left: 25px;
    background: url(/public/img/box_check_empty.png) no-repeat left/16px;
    background-position: 0 0;
    line-height: 16px;
    cursor: pointer; }
  input[type="checkbox"]:checked + label {
    background-image: url(/public/img/box_check_checked.png); }

input[type="radio"] {
  display: none; }
  input[type="radio"] + label {
    display: inline-block;
    padding-left: 25px;
    background: url(/public/img/box_radio_empty.png) no-repeat left/16px;
    background-position: 0 0;
    line-height: 16px;
    cursor: pointer; }
  input[type="radio"]:checked + label {
    background-image: url(/public/img/box_radio_checked.png); }

header {
  width: 100%;
  background: #f6f2ef; }
  header .inner {
    position: relative;
    width: 1180px;
    height: 100px;
    margin: 0 auto; }
    header .inner > h1 {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
      header .inner > h1 a {
        color: #0d211a;
        font: 40px/1 "Italiana";
        text-transform: uppercase;
        letter-spacing: 0.21em; }
    header .inner #gnb {
      position: absolute;
      bottom: 10px;
      right: 0; }
      header .inner #gnb li {
        float: left; }
        header .inner #gnb li a {
          display: inline-block;
          padding: 22px 15px;
          font-size: 11px;
          color: #a5abb0;
          text-transform: uppercase;
          letter-spacing: 0.39em; }
          header .inner #gnb li a:hover {
            color: #0d211a; }
    header .inner .btnCall {
      display: none;
      width: 26px;
      height: 26px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 11;
      cursor: pointer; }
      header .inner .btnCall::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #0d211a;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      header .inner .btnCall::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #0d211a;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #0d211a;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 0;
        text-indent: -9999px;
        transition: 0.5s; }
      header .inner .btnCall.on::before {
        top: 50%;
        margin-top: -1px;
        transform: rotate(45deg); }
      header .inner .btnCall.on::after {
        bottom: 50%;
        margin-bottom: -1px;
        transform: rotate(-45deg); }
      header .inner .btnCall.on span {
        transform: translateX(100%);
        opacity: 0; }
    header .inner .menu-mobile {
      display: none;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background: #f6f2ef;
      transition: 0.5s;
      padding: 35px 30px;
      z-index: 10; }
      header .inner .menu-mobile h1 {
        width: 50%;
        margin: 0 auto 50px;
        text-align: center; }
        header .inner .menu-mobile h1 a {
          display: block;
          font: bold 24px/1 "Italiana";
          margin-bottom: 20px;
          color: #0d211a;
          text-transform: uppercase;
          letter-spacing: 0.21em; }
        header .inner .menu-mobile h1 span {
          display: block;
          font-size: 12px;
          color: #b46927;
          letter-spacing: 3px; }
      header .inner .menu-mobile #gnb-mobile {
        border: 1px solid #b46927;
        width: 70%;
        margin: 0 auto;
        position: relative; }
        header .inner .menu-mobile #gnb-mobile::before {
          content: "";
          display: block;
          width: 20%;
          height: 30vw;
          background: url(/public/img/circle.svg) no-repeat center;
          background-size: 100% 100%;
          position: absolute;
          top: -12vw;
          left: -8vw;
          z-index: 1; }
        header .inner .menu-mobile #gnb-mobile::after {
          content: "";
          display: block;
          width: 30%;
          height: 30vw;
          background: url(/public/img/circle2.svg) no-repeat center;
          background-size: 100% 100%;
          position: absolute;
          bottom: -14vw;
          right: -8vw;
          z-index: 1; }
        header .inner .menu-mobile #gnb-mobile li a {
          display: block;
          width: 100%;
          padding: 30px 0px;
          font-size: 14px;
          letter-spacing: 2px;
          color: #888;
          text-align: center; }
      header .inner .menu-mobile.on {
        right: 0px; }

main {
  padding-bottom: 100px; }
  main .sub-visual {
    width: 100%;
    height: 300px;
    background: #f6f2ef;
    margin-bottom: 50px; }
    main .sub-visual .inner {
      position: relative;
      overflow: hidden;
      width: 1180px;
      height: 300px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .sub-visual .inner::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -60%;
        left: 180px;
        width: 300px;
        height: 300px;
        background: url(/public/img/circle.svg) no-repeat 0 0; }
      main .sub-visual .inner::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -70%;
        left: 0;
        width: 400px;
        height: 400px;
        background: url(/public/img/circle2.svg) no-repeat 0 0;
        opacity: 0.8; }
      main .sub-visual .inner > h1 {
        font: normal 42px/1 "Italiana";
        letter-spacing: 20px;
        text-transform: uppercase;
        color: #b46927;
        text-align: center; }
  main > .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto; }

footer {
  width: 100%;
  padding: 50px 0; }
  footer .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center; }
    footer .inner p {
      font-size: 12px;
      color: #b46927;
      text-align: center; }

@media screen and (max-width: 1179px) {
  header .inner {
    width: 100%; }
    header .inner > h1 {
      left: 3vw; }
    header .inner #gnb {
      display: none; }
    header .inner .btnCall {
      display: block; }
    header .inner .menu-mobile {
      display: block; }

  main > .inner {
    width: 100%; }
  main .sub-visual .inner {
    width: 100%; }
    main .sub-visual .inner > h1 {
      font-size: 2.5rem; }

  footer .inner {
    width: 100%; } }
@media screen and (max-width: 769px) {
  header .inner > h1 a {
    font-size: 2rem; }
  header .inner .btnCall {
    width: 20px;
    height: 20px; }

  main .sub-visual .inner::before {
    width: 200px;
    height: 200px;
    bottom: -45%;
    background-size: 100%; }
  main .sub-visual .inner::after {
    width: 250px;
    height: 250px;
    bottom: -40%;
    background-size: 100%; }
  main .sub-visual .inner > h1 {
    font-size: 2rem; } }
@media screen and (max-width: 460px) {
  header .inner > h1 a {
    font-size: 1.5rem; }
  header .inner .menu-mobile #gnb-mobile {
    width: 80%; }

  main {
    padding-bottom: 50px; }
    main .sub-visual {
      height: 250px; }
      main .sub-visual .inner {
        height: 250px; }
        main .sub-visual .inner::before {
          width: 110px;
          height: 175px;
          left: 81px; }
        main .sub-visual .inner::after {
          width: 150px;
          height: 200px; }
        main .sub-visual .inner > h1 {
          font-size: 1.5rem; } }
.visual {
  width: 100%;
  background: #f6f2ef; }
  .visual .inner {
    position: relative;
    width: 1180px;
    margin: 0 auto;
    padding: 70px 0 0; }
    .visual .inner p {
      position: absolute;
      width: 250px;
      line-height: 1.3;
      letter-spacing: 2px; }
      .visual .inner p:nth-of-type(1) {
        top: 70px;
        left: 0;
        font-size: 14px; }
      .visual .inner p:nth-of-type(2) {
        right: 0;
        bottom: 0;
        font-family: "Italiana";
        font-size: 16px; }
        .visual .inner p:nth-of-type(2)::before {
          content: "";
          display: block;
          position: absolute;
          top: -20px;
          left: 0;
          width: 30px;
          height: 1px;
          background: #0d211a; }
    .visual .inner h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: #b46927;
      font: 130px/1 "Italiana";
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 3px; }
    .visual .inner img {
      display: block;
      width: 33.3333%;
      height: 500px;
      object-fit: cover;
      margin: 0 auto; }

@media screen and (max-width: 1179px) {
  .visual .inner {
    width: 100%; }
    .visual .inner p:nth-of-type(1) {
      left: 20px; }
    .visual .inner p:nth-of-type(2) {
      right: 20px; }
    .visual .inner h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: #b46927;
      font-size: 10vw; } }
@media screen and (max-width: 769px) {
  .visual .inner img {
    width: 50%; } }
@media screen and (max-width: 460px) {
  .visual .inner p {
    width: 200px; }
    .visual .inner p:nth-of-type(1) {
      font-size: 12px; }
    .visual .inner p:nth-of-type(2) {
      font-size: 12px; } }
#info {
  width: 100%;
  padding: 100px 0;
  background: #fbf6f2; }
  #info .inner {
    width: 1180px;
    margin: 0 auto 70px; }
    #info .inner .text {
      display: flex;
      justify-content: center;
      align-content: space-between;
      width: 70%;
      margin: 0 auto 100px;
      padding-bottom: 30px;
      border-bottom: 1px solid #0d211a; }
      #info .inner .text p:first-of-type {
        margin-right: 20px;
        color: #b46927;
        font: 26px/1.3 "Italiana";
        letter-spacing: 3px; }
      #info .inner .text p:nth-of-type(2) {
        font-size: 16px;
        line-height: 2.2; }
    #info .inner .img-wrap {
      display: flex;
      justify-content: center;
      align-content: space-between; }
      #info .inner .img-wrap .img-card {
        padding: 20px;
        width: 100%;
        position: relative; }
        #info .inner .img-wrap .img-card .img {
          width: 90%;
          margin-right: 20px;
          height: 275px; }
        #info .inner .img-wrap .img-card:nth-of-type(1) .img {
          background: url(/public/img/main7.jpg) no-repeat center;
          background-size: cover; }
        #info .inner .img-wrap .img-card:nth-of-type(2) .img {
          background: url(/public/img/main3.jpg) no-repeat center;
          background-size: cover; }
        #info .inner .img-wrap .img-card:nth-of-type(3) .img {
          background: url(/public/img/main4.jpg) no-repeat bottom center;
          background-size: cover; }
        #info .inner .img-wrap .img-card figcaption {
          position: absolute;
          right: 0;
          bottom: -50px;
          padding: 30px 50px;
          background: #f6f2ef; }
          #info .inner .img-wrap .img-card figcaption .img-number {
            font: 40px/1 "Italiana";
            color: #b46927;
            letter-spacing: 3px;
            margin-bottom: 20px; }
          #info .inner .img-wrap .img-card figcaption .img-title {
            font-size: 28px;
            letter-spacing: 2px;
            text-transform: uppercase; }

@media screen and (max-width: 1179px) {
  #info .inner {
    width: 100%; }
    #info .inner .text {
      width: 80%; }
      #info .inner .text p:first-of-type {
        font-size: 22px; }
      #info .inner .text p:nth-of-type(2) {
        line-height: 2; }
    #info .inner .img-wrap {
      width: 100%; }
      #info .inner .img-wrap .img-card {
        width: 100%; }
        #info .inner .img-wrap .img-card figcaption {
          padding: 20px 30px; }
          #info .inner .img-wrap .img-card figcaption .img-number {
            font-size: 30px; }
          #info .inner .img-wrap .img-card figcaption .img-title {
            font-size: 22px; } }
@media screen and (max-width: 769px) {
  #info .inner .text {
    width: 90%; }
  #info .inner .img-wrap .img-card {
    padding: 10px;
    width: 33.3333%; }
    #info .inner .img-wrap .img-card figcaption .img-number {
      font-size: 26px; }
    #info .inner .img-wrap .img-card figcaption .img-title {
      font-size: 20px; }
    #info .inner .img-wrap .img-card .img {
      height: 225px; } }
@media screen and (max-width: 460px) {
  #info .inner .text {
    width: 95%; }
    #info .inner .text p:first-of-type {
      font-size: 16px; }
    #info .inner .text p:nth-of-type(2) {
      font-size: 14px;
      line-height: 1.8; }
  #info .inner .img-wrap {
    flex-wrap: wrap; }
    #info .inner .img-wrap .img-card {
      width: 100%;
      margin-bottom: 50px; }
      #info .inner .img-wrap .img-card figcaption .img-number {
        font-size: 22px; }
      #info .inner .img-wrap .img-card figcaption .img-title {
        font-size: 18px; }
      #info .inner .img-wrap .img-card .img {
        height: 225px; } }
.notice {
  background: #b46927; }
  .notice .inner {
    color: #fff;
    padding-top: 100px; }
    .notice .inner h2 {
      font: 30px/1 "Italiana";
      margin-bottom: 100px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px; }
    .notice .inner .slider-wrap {
      width: 100%;
      position: relative; }
      .notice .inner .slider-wrap .slider-btn {
        display: flex;
        justify-content: right;
        align-content: space-around;
        margin-right: 20px; }
        .notice .inner .slider-wrap .slider-btn > div {
          cursor: pointer;
          padding: 10px; }
      .notice .inner .slider-wrap .slider {
        width: 1180px;
        position: relative;
        overflow: hidden; }
        .notice .inner .slider-wrap .slider ul {
          width: 400%; }
          .notice .inner .slider-wrap .slider ul::after {
            content: "";
            display: block;
            clear: both; }
          .notice .inner .slider-wrap .slider ul li {
            width: 25%;
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;
            align-content: center; }
            .notice .inner .slider-wrap .slider ul li .slider-content {
              width: 80%;
              float: left;
              padding: 30px; }
              .notice .inner .slider-wrap .slider ul li .slider-content h3 {
                font-size: 20px;
                margin-bottom: 30px;
                letter-spacing: 2px; }
              .notice .inner .slider-wrap .slider ul li .slider-content p {
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 50px; }
              .notice .inner .slider-wrap .slider ul li .slider-content a {
                color: #fff;
                position: relative;
                text-transform: uppercase;
                letter-spacing: 2px; }
                .notice .inner .slider-wrap .slider ul li .slider-content a::after {
                  transition: 0.7s;
                  width: 0%;
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -10px;
                  display: block;
                  height: 1px;
                  background: #fff; }
                .notice .inner .slider-wrap .slider ul li .slider-content a:hover::after {
                  width: 100%; }

@media screen and (max-width: 1179px) {
  .notice .inner .slider-wrap .slider {
    width: 100%; } }
@media screen and (max-width: 769px) {
  .notice {
    padding-bottom: 0; }
    .notice .inner {
      padding-top: 70px; }
      .notice .inner h2 {
        font-size: 26px;
        margin-bottom: 70px; } }
@media screen and (max-width: 460px) {
  .notice .inner {
    padding-top: 50px;
    min-height: auto; }
    .notice .inner h2 {
      font-size: 22px;
      margin-bottom: 50px; }
    .notice .inner .slider ul li .slider-content h3 {
      font-size: 18px; }
    .notice .inner .slider ul li .slider-content p {
      font-size: 14px; } }
.collection {
  background: #f6f2ef;
  padding-top: 100px; }
  .collection .inner .img-wrap {
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: 600px; }
    .collection .inner .img-wrap .img {
      width: 33.3333%;
      height: 100%;
      padding: 20px; }
      .collection .inner .img-wrap .img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .collection .inner .img-wrap .img:nth-of-type(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between; }
        .collection .inner .img-wrap .img:nth-of-type(2) img {
          width: 49%;
          height: 49%; }

@media screen and (max-width: 769px) {
  .collection .inner .img-wrap {
    flex-wrap: wrap;
    height: 100%; }
    .collection .inner .img-wrap .img {
      width: 100%;
      height: 300px;
      padding: 10px; }
      .collection .inner .img-wrap .img:nth-of-type(2) {
        height: auto; }
        .collection .inner .img-wrap .img:nth-of-type(2) img {
          width: 200px;
          height: 200px;
          margin-bottom: 20px; }
          .collection .inner .img-wrap .img:nth-of-type(2) img:nth-of-type(4) {
            margin-bottom: 0; } }
@media screen and (max-width: 460px) {
  .collection .inner .img-wrap .img:nth-of-type(2) {
    height: auto; }
    .collection .inner .img-wrap .img:nth-of-type(2) img {
      width: 100%;
      height: 300px;
      margin-bottom: 20px; } }
.department .inner .ceo::after {
  content: "";
  display: block;
  clear: both; }
.department .inner .ceo > div {
  width: 50%;
  height: 500px; }
.department .inner .ceo .pic {
  float: right; }
  .department .inner .ceo .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.department .inner .ceo .text {
  float: left;
  padding: 10px;
  position: relative; }
  .department .inner .ceo .text h2 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 5px; }
  .department .inner .ceo .text strong {
    font-size: 20px;
    display: block;
    margin: 20px 0;
    text-align: center;
    line-height: 1.5; }
  .department .inner .ceo .text p {
    font-size: 18px;
    line-height: 1.25; }
  .department .inner .ceo .text .signature {
    position: absolute;
    right: 5px;
    bottom: 5px;
    transform: rotate(20deg);
    stroke-dasharray: 1698;
    stroke-dashoffset: -1698;
    animation: draw 2.5s linear 1s infinite; }
.department .inner .member .member-top {
  margin-top: 50px;
  padding: 50px 0;
  border-top: 2px solid #0d211a;
  border-bottom: 2px solid #0d211a; }
  .department .inner .member .member-top::after {
    content: "";
    display: block;
    clear: both; }
  .department .inner .member .member-top strong {
    float: left;
    width: 40%;
    display: block;
    font-size: 90px;
    font-family: "Italiana";
    text-transform: uppercase;
    letter-spacing: 5px; }
  .department .inner .member .member-top p {
    float: right;
    width: calc(100% - 45%);
    font-size: 26px;
    line-height: 2.5; }
.department .inner .member .member-list {
  border-bottom: 2px solid #0d211a;
  padding: 50px 0; }
  .department .inner .member .member-list:nth-child(even) .inner .pic {
    float: right;
    margin-left: 30px;
    margin-right: auto; }
  .department .inner .member .member-list:nth-child(even) .inner .text {
    float: left; }
  .department .inner .member .member-list .inner {
    width: 70%;
    margin: 0 auto; }
    .department .inner .member .member-list .inner::after {
      content: "";
      display: block;
      clear: both; }
    .department .inner .member .member-list .inner .pic {
      float: left;
      overflow: hidden;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin-right: 30px;
      margin-left: auto; }
      .department .inner .member .member-list .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .department .inner .member .member-list .inner .text {
      float: right;
      width: 50%;
      padding: 30px 0; }
      .department .inner .member .member-list .inner .text h3 {
        font-size: 28px;
        text-transform: capitalize;
        margin-bottom: 10px; }
      .department .inner .member .member-list .inner .text span {
        font-size: 20px;
        display: block;
        margin-bottom: 20px; }
        .department .inner .member .member-list .inner .text span:nth-of-type(2) {
          text-align: right;
          font-size: 18px;
          margin-bottom: 30px; }
      .department .inner .member .member-list .inner .text p {
        font-size: 16px;
        line-height: 1.5; }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }
@media screen and (max-width: 1179px) {
  .department .inner .ceo {
    padding: 0 20px; }
    .department .inner .ceo > div {
      width: 80%; }
    .department .inner .ceo .pic {
      float: none;
      margin: 0 auto; }
    .department .inner .ceo .text {
      margin: 20px auto 0;
      float: none; }
      .department .inner .ceo .text h2 {
        font-size: 40px; }
      .department .inner .ceo .text strong {
        font-size: 18px; }
      .department .inner .ceo .text p {
        font-size: 16px; }
  .department .inner .member {
    padding: 0 20px; }
    .department .inner .member .member-top {
      padding: 30px 0; }
      .department .inner .member .member-top strong {
        font-size: 65px; }
      .department .inner .member .member-top p {
        font-size: 20px;
        line-height: 2.2; }
    .department .inner .member .member-list .inner {
      width: 100%; } }
@media screen and (max-width: 769px) {
  .department .inner .ceo > div {
    width: 100%; }
  .department .inner .ceo .text h2 {
    font-size: 32px; }
  .department .inner .ceo .text strong {
    font-size: 16px; }
  .department .inner .ceo .text p {
    font-size: 14px; }
  .department .inner .member .member-top strong {
    font-size: 40px;
    line-height: 2; }
  .department .inner .member .member-top p {
    font-size: 16px;
    line-height: 2; }
  .department .inner .member .member-list {
    padding: 30px 0; }
  .department .inner .member .member-list:nth-child(even) .inner .pic,
  .department .inner .member .member-list:nth-child(odd) .inner .pic {
    float: none;
    margin: 0 auto; }
  .department .inner .member .member-list:nth-child(even) .inner .text,
  .department .inner .member .member-list:nth-child(odd) .inner .text {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 0; }
    .department .inner .member .member-list:nth-child(even) .inner .text h3,
    .department .inner .member .member-list:nth-child(odd) .inner .text h3 {
      font-size: 22px; }
    .department .inner .member .member-list:nth-child(even) .inner .text span,
    .department .inner .member .member-list:nth-child(odd) .inner .text span {
      font-size: 18px; }
      .department .inner .member .member-list:nth-child(even) .inner .text span:nth-of-type(2),
      .department .inner .member .member-list:nth-child(odd) .inner .text span:nth-of-type(2) {
        font-size: 16px; }
    .department .inner .member .member-list:nth-child(even) .inner .text p,
    .department .inner .member .member-list:nth-child(odd) .inner .text p {
      font-size: 14px; } }
@media screen and (max-width: 460px) {
  .department .inner .ceo .text h2 {
    font-size: 32px; }
  .department .inner .ceo .text strong {
    font-size: 16px; }
  .department .inner .ceo .text p {
    font-size: 14px; }
  .department .inner .member .member-top strong {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 20px; }
  .department .inner .member .member-top p {
    width: 100%; }
  .department .inner .member .member-list .inner .pic {
    width: 200px;
    height: 200px; }
  .department .inner .member .member-list:nth-child(even) .inner .text,
  .department .inner .member .member-list:nth-child(odd) .inner .text {
    width: 100%; } }
.community .inner .news {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-bottom: 50px; }
  .community .inner .news .box {
    width: 33.3333%;
    height: 160px;
    margin-right: 10px;
    border: 1px solid #a5abb0;
    padding: 0 30px;
    cursor: pointer;
    transition: 0.5s; }
    .community .inner .news .box:hover {
      border: 1px solid #0d211a; }
      .community .inner .news .box:hover h2 {
        transform: translateY(-10px);
        color: #0d211a;
        font-weight: bold; }
    .community .inner .news .box:nth-of-type(3) {
      margin-right: 0; }
    .community .inner .news .box.on {
      border: 1px solid #0d211a; }
      .community .inner .news .box.on h2 {
        color: #0d211a;
        font-weight: bold; }
    .community .inner .news .box h2 {
      color: #a5abb0;
      font-size: 60px;
      font-weight: normal;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-top: 50px;
      transition: transform 0.5s; }
.community .inner section {
  border-top: 2px solid #0d211a;
  border-bottom: 2px solid #0d211a; }
  .community .inner section .list {
    display: none; }
    .community .inner section .list.on {
      display: block; }
    .community .inner section .list article .question {
      padding: 50px 30px;
      cursor: pointer;
      border-bottom: 1px solid #bbb; }
      .community .inner section .list article .question:nth-last-of-type(1) {
        border-bottom: 0; }
      .community .inner section .list article .question::after {
        content: "";
        display: block;
        clear: both; }
      .community .inner section .list article .question h1 {
        font-weight: normal;
        font-size: 20px;
        float: left; }
      .community .inner section .list article .question .right {
        float: right;
        margin-right: 20px; }
        .community .inner section .list article .question .right span {
          font-size: 16px; }
        .community .inner section .list article .question .right em {
          margin-left: 50px;
          font-size: 16px;
          font-style: normal; }
        .community .inner section .list article .question .right .icon-arrow {
          margin-left: 30px;
          font-size: 20px;
          vertical-align: middle;
          color: #b46927; }
    .community .inner section .list article .answer {
      padding: 50px 30px;
      background: #f6f2ef;
      display: none; }
      .community .inner section .list article .answer p {
        font-size: 18px;
        line-height: 1.5; }
      .community .inner section .list article .answer.on {
        display: block;
        border-bottom: 2px solid #0d211a; }

@media screen and (max-width: 1179px) {
  .community .inner .news {
    padding: 0 20px; }
    .community .inner .news .box h2 {
      font-size: 3rem; }
  .community .inner section .list {
    padding: 0 20px; }
    .community .inner section .list article .question {
      width: 100%; }
      .community .inner section .list article .question h1 {
        width: 60%;
        font-size: 16px; }
      .community .inner section .list article .question .right {
        margin-right: 0; }
        .community .inner section .list article .question .right span {
          font-size: 14px; }
        .community .inner section .list article .question .right em {
          margin-left: 30px;
          font-size: 14px; }
    .community .inner section .list article .answer p {
      font-size: 14px; } }
@media screen and (max-width: 769px) {
  .community .inner .news .box {
    padding: 0;
    text-align: center;
    height: 100px; }
    .community .inner .news .box h2 {
      font-size: 1.8rem;
      margin-top: 35px; }
  .community .inner section .list article .question h1 {
    width: 50%; }
  .community .inner section .list article .question .right em {
    display: none; } }
@media screen and (max-width: 460px) {
  .community .inner .news .box {
    height: 80px; }
    .community .inner .news .box h2 {
      font-size: 1rem;
      margin-top: 30px; }
  .community .inner section .list article .question {
    padding: 30px 10px; }
    .community .inner section .list article .question h1 {
      float: none;
      margin-bottom: 30px;
      width: 100%; }
    .community .inner section .list article .question .right {
      float: none;
      text-align: right; }
  .community .inner section .list article .answer {
    padding: 30px 10px; } }
.gallery .inner {
  position: relative; }
  .gallery .inner .loading {
    position: absolute;
    top: 250px;
    left: 50%;
    width: 10%;
    transform: translateX(-50%); }
  .gallery .inner .list {
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: 1s; }
    .gallery .inner .list.on {
      transform: translateY(0);
      opacity: 1; }
  .gallery .inner > section::after {
    content: "";
    display: block;
    clear: both; }
  .gallery .inner > section .search-box {
    width: 50%;
    height: 60px;
    margin: 0 auto 50px;
    border-bottom: 2px solid #b46927; }
    .gallery .inner > section .search-box input {
      background: transparent;
      width: 90%;
      height: 100%;
      padding-left: 20px;
      border: none;
      outline-color: #b46927;
      font: 16px/1 "Questrial"; }
      .gallery .inner > section .search-box input::placeholder {
        font: 14px/1 "Questrial";
        letter-spacing: 2px;
        color: #a5abb0; }
    .gallery .inner > section .search-box button {
      outline-color: #b46927;
      width: 10%;
      height: 100%;
      border: none;
      background: transparent;
      cursor: pointer; }
      .gallery .inner > section .search-box button .icon-search {
        font-size: 16px;
        color: #b46927; }
  .gallery .inner > section article {
    width: 33.3333%;
    float: left;
    padding: 10px; }
    .gallery .inner > section article .inner {
      width: 100%;
      padding: 30px 10px;
      border-bottom: 1px solid #0d211a; }
      .gallery .inner > section article .inner .pic {
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer; }
        .gallery .inner > section article .inner .pic img {
          width: 100%;
          filter: grayscale(0.8);
          transition: 0.5s; }
        .gallery .inner > section article .inner .pic:hover img {
          filter: grayscale(0); }
      .gallery .inner > section article .inner h2 {
        font-size: 12px;
        line-height: 1.2;
        color: #777;
        margin-bottom: 10px; }
      .gallery .inner > section article .inner p {
        font-size: 10px;
        color: #999; }
.gallery .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .gallery .pop img {
    width: 100%;
    height: 95%;
    margin-top: 15px;
    object-fit: contain; }
  .gallery .pop p {
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    text-align: center; }
  .gallery .pop span {
    font-size: 14px;
    font-weight: bold;
    color: #b46927;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer;
    text-transform: uppercase; }

@media screen and (max-width: 769px) {
  .gallery .inner > section article {
    width: 50%; } }
@media screen and (max-width: 460px) {
  .gallery .inner > section article {
    width: 100%; } }
.youtube .inner .frame::after {
  content: "";
  display: block;
  clear: both; }
.youtube .inner .frame article {
  overflow: hidden;
  width: 33.3333%;
  float: left;
  padding: 10px; }
  .youtube .inner .frame article .inner {
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-bottom: 2px solid #0d211a; }
    .youtube .inner .frame article .inner .pic {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
      cursor: pointer; }
      .youtube .inner .frame article .inner .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
        filter: grayscale(1); }
      .youtube .inner .frame article .inner .pic:hover img {
        filter: none; }
    .youtube .inner .frame article .inner .txt h2 {
      font-size: 16px;
      line-height: 1.2;
      color: #666;
      margin-bottom: 20px; }
    .youtube .inner .frame article .inner .txt p {
      font-size: 12px;
      line-height: 1.2;
      color: #888; }
.youtube .inner .pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 5vw; }
  .youtube .inner .pop figure {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw; }
  .youtube .inner .pop span {
    font-size: 14px;
    font-weight: bold;
    color: #b46927;
    position: absolute;
    top: 3vw;
    right: 5vw;
    cursor: pointer;
    text-transform: uppercase; }

@media screen and (max-width: 769px) {
  .youtube .inner .frame article {
    width: 50%; } }
@media screen and (max-width: 460px) {
  .youtube .inner .frame article {
    width: 100%; } }
.location .inner .contact {
  text-align: center; }
  .location .inner .contact h2 {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative; }
    .location .inner .contact h2::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.5;
      width: 300px;
      height: 1px;
      background: #b46927; }
  .location .inner .contact > p {
    line-height: 1.5;
    margin-bottom: 30px; }
  .location .inner .contact .contact_box {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 100px; }
    .location .inner .contact .contact_box .box {
      width: 25%;
      padding: 30px; }
      .location .inner .contact .contact_box .box .icon {
        font-size: 30px;
        color: #b46927;
        margin-bottom: 15px; }
      .location .inner .contact .contact_box .box p {
        font-size: 16px;
        line-height: 1.3; }
        .location .inner .contact .contact_box .box p:nth-of-type(1) {
          font: 26px/1 "Italiana";
          margin-bottom: 15px; }
.location .inner .map-wrap {
  position: relative;
  height: 500px; }
  .location .inner .map-wrap::after {
    content: "";
    display: block;
    clear: both; }
  .location .inner .map-wrap #map {
    width: calc(100% - 300px);
    height: 100%;
    float: right; }
  .location .inner .map-wrap .traffic {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; }
    .location .inner .map-wrap .traffic li {
      background-color: #b46927;
      color: #fff;
      padding: 15px 20px;
      font-size: 14px;
      cursor: pointer; }
      .location .inner .map-wrap .traffic li .traffic-icon {
        margin-right: 10px; }
  .location .inner .map-wrap .branch {
    width: 300px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column; }
    .location .inner .map-wrap .branch li {
      height: 33.3333%;
      padding: 20px;
      color: #333;
      cursor: pointer; }
      .location .inner .map-wrap .branch li:nth-of-type(1).on {
        color: #b42727; }
      .location .inner .map-wrap .branch li:nth-of-type(2).on {
        color: #277ab4; }
      .location .inner .map-wrap .branch li:nth-of-type(3).on {
        color: #b46927; }
      .location .inner .map-wrap .branch li::after {
        content: "";
        display: block;
        clear: both; }
      .location .inner .map-wrap .branch li .icon {
        font-size: 40px;
        margin-top: 10px;
        margin-right: 20px;
        float: left;
        width: 30px; }
      .location .inner .map-wrap .branch li .map-text {
        float: left;
        width: calc(100% - 50px); }
        .location .inner .map-wrap .branch li .map-text p {
          font-size: 16px;
          line-height: 1.3; }
          .location .inner .map-wrap .branch li .map-text p:nth-of-type(1) {
            font-size: 26px;
            margin-bottom: 20px;
            line-height: 1; }

@media screen and (max-width: 769px) {
  .location .inner .contact h2 {
    font-size: 26px; }
  .location .inner .contact .contact_box {
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .location .inner .contact .contact_box .box {
      width: 180px;
      padding: 10px; }
      .location .inner .contact .contact_box .box .icon {
        font-size: 26px; }
      .location .inner .contact .contact_box .box p {
        font-size: 14px; }
        .location .inner .contact .contact_box .box p:nth-of-type(1) {
          font-size: 20px; }
  .location .inner .map-wrap {
    height: 400px; }
    .location .inner .map-wrap #map {
      width: 100%;
      height: 100%;
      float: none; }
    .location .inner .map-wrap .traffic {
      top: 140px; }
    .location .inner .map-wrap .branch {
      width: 100%;
      height: 130px;
      float: none;
      flex-direction: row;
      justify-content: space-between; }
      .location .inner .map-wrap .branch li {
        width: 220px;
        height: 100%; }
        .location .inner .map-wrap .branch li .icon {
          font-size: 30px;
          width: 20px; }
        .location .inner .map-wrap .branch li .map-text p {
          font-size: 12px;
          line-height: 1; }
          .location .inner .map-wrap .branch li .map-text p:nth-of-type(1) {
            font-size: 18px; } }
@media screen and (max-width: 460px) {
  .location .inner .contact h2 {
    font-size: 22px; }
  .location .inner .contact .contact_box .box .icon {
    font-size: 22px; }
  .location .inner .contact .contact_box .box p:nth-of-type(1) {
    font-size: 18px; }
  .location .inner .map-wrap .traffic {
    top: 140px; }
  .location .inner .map-wrap .branch {
    height: 130px; }
    .location .inner .map-wrap .branch li {
      width: 33.3333%;
      text-align: center; }
      .location .inner .map-wrap .branch li .icon {
        display: block;
        float: none;
        font-size: 20px;
        width: 20px;
        margin: 0 auto 10px; }
      .location .inner .map-wrap .branch li .map-text {
        width: 100%;
        float: none; }
        .location .inner .map-wrap .branch li .map-text p:nth-of-type(1) {
          font-size: 18px;
          margin-bottom: 10px; } }
.join .inner .success-join {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  height: 500px;
  font: bold 40px/1 "Italiana";
  letter-spacing: 5px;
  color: #b46927; }
  .join .inner .success-join .success-icon {
    display: block;
    margin: 0 auto 50px;
    color: #b46927;
    font-size: 70px; }
  .join .inner .success-join p {
    text-align: center; }
.join .inner form fieldset {
  width: 100%; }
  .join .inner form fieldset h3 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 30px; }
  .join .inner form fieldset > textarea {
    width: 80%;
    height: 180px;
    margin: 0 auto;
    display: block;
    resize: none;
    border: 1px solid #b46927;
    padding: 20px;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 30px; }
  .join .inner form fieldset .agreement {
    text-align: center;
    margin-bottom: 150px; }
  .join .inner form fieldset .join-banner {
    width: calc(30% - 50px);
    height: 400px;
    float: left;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .join .inner form fieldset .join-banner::before {
      content: "";
      display: block;
      width: 100%;
      height: 200px;
      background: url(/public/img/circle.svg) no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: 30%;
      left: 150px;
      z-index: 1;
      opacity: 0.9; }
    .join .inner form fieldset .join-banner::after {
      content: "";
      display: block;
      width: 100%;
      height: 400px;
      background: url(/public/img/circle2.svg) no-repeat center;
      background-size: 100% 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0.8; }
    .join .inner form fieldset .join-banner p {
      font-family: "Questrial";
      font-size: 50px;
      color: #0d211a;
      position: absolute;
      left: 0;
      z-index: 4; }
      .join .inner form fieldset .join-banner p::after {
        content: "";
        display: block;
        width: 300px;
        border: 2px solid #b46927;
        height: 300px;
        position: absolute;
        top: -150px;
        left: -30px;
        transform: rotate(45deg);
        z-index: -1; }
  .join .inner form fieldset .member-info {
    float: right;
    width: calc(70% - 50px);
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto; }
    .join .inner form fieldset .member-info ul li {
      margin-bottom: 20px; }
      .join .inner form fieldset .member-info ul li label {
        display: block;
        margin-bottom: 20px; }
      .join .inner form fieldset .member-info ul li > span {
        display: block;
        margin-bottom: 20px; }
      .join .inner form fieldset .member-info ul li .err {
        font-size: 12px;
        color: #ff0000;
        margin-top: 10px; }
      .join .inner form fieldset .member-info ul li.gender label, .join .inner form fieldset .member-info ul li.interest label {
        display: inline-block;
        margin-right: 20px; }
      .join .inner form fieldset .member-info ul li.gender .err, .join .inner form fieldset .member-info ul li.interest .err {
        margin-top: 0; }
      .join .inner form fieldset .member-info ul li textarea,
      .join .inner form fieldset .member-info ul li select {
        border: 1px solid #b46927; }
      .join .inner form fieldset .member-info ul li input {
        border: none;
        border-bottom: 1px solid #b46927;
        padding-top: 10px;
        padding-left: 5px;
        padding-bottom: 10px;
        width: 90%;
        outline-color: #b46927; }
        .join .inner form fieldset .member-info ul li input::placeholder {
          color: #b46927;
          font-family: "Questrial"; }
      .join .inner form fieldset .member-info ul li textarea {
        width: 90%;
        height: 100px;
        resize: none;
        padding: 20px;
        outline-color: #b46927; }
        .join .inner form fieldset .member-info ul li textarea::placeholder {
          color: #b46927;
          font-family: "Questrial"; }
      .join .inner form fieldset .member-info ul li select {
        width: 50%;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        color: #b46927;
        font-family: "Questrial";
        outline-color: #b46927; }
      .join .inner form fieldset .member-info ul li.btns {
        margin: 50px auto 0;
        width: 70%; }
        .join .inner form fieldset .member-info ul li.btns input {
          width: calc(45% - 5px);
          padding-left: 0;
          background: transparent;
          border: 1px solid #b46927;
          cursor: pointer;
          color: #b46927; }
          .join .inner form fieldset .member-info ul li.btns input:nth-of-type(1) {
            margin-right: 10px; }
          .join .inner form fieldset .member-info ul li.btns input:hover {
            background: #b46927;
            color: #fff; }

@media screen and (max-width: 1179px) {
  .join .inner .success-join {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    height: 500px;
    font: bold 40px/1 "Italiana";
    letter-spacing: 5px;
    color: #b46927; }
    .join .inner .success-join .success-icon {
      display: block;
      margin: 0 auto 50px;
      color: #b46927;
      font-size: 70px; }
    .join .inner .success-join p {
      text-align: center; }
  .join .inner form fieldset .join-banner::before {
    height: 20vw;
    left: 10vw; }
  .join .inner form fieldset .join-banner::after {
    height: 40vw;
    top: 3vw; }
  .join .inner form fieldset .join-banner p {
    font-size: 4vw; }
    .join .inner form fieldset .join-banner p::after {
      width: 25vw;
      height: 25vw;
      position: absolute;
      top: -10vw;
      left: 0;
      transform: rotate(45deg); } }
@media screen and (max-width: 769px) {
  .join .inner form fieldset h3 {
    font-size: 18px; }
  .join .inner form fieldset > textarea {
    width: 90%;
    height: 150px; }
  .join .inner form fieldset .agreement {
    margin-bottom: 50px; }
  .join .inner form fieldset .join-banner {
    width: 100%;
    float: none;
    margin-right: 0; }
    .join .inner form fieldset .join-banner::before {
      width: 100px;
      left: 53vw; }
    .join .inner form fieldset .join-banner::after {
      height: 30vw;
      top: 50%;
      transform: translateY(-50%); }
    .join .inner form fieldset .join-banner p {
      font-size: 30px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .join .inner form fieldset .member-info {
    float: none;
    width: 100%; }
    .join .inner form fieldset .member-info ul li input {
      width: 100%; }
    .join .inner form fieldset .member-info ul li textarea {
      width: 100%; }
    .join .inner form fieldset .member-info ul li.btns {
      margin: 30px auto 0;
      font-size: 0;
      text-align: center; }
      .join .inner form fieldset .member-info ul li.btns input {
        font-size: 14px; } }
@media screen and (max-width: 460px) {
  .join .inner form fieldset > textarea {
    height: 100px; }
  .join .inner form fieldset .agreement {
    margin-bottom: 30px; }
  .join .inner form fieldset .join-banner {
    height: 250px; }
    .join .inner form fieldset .join-banner::before {
      left: 50vw; }
    .join .inner form fieldset .join-banner p {
      font-size: 24px; }
      .join .inner form fieldset .join-banner p::after {
        width: 32vw;
        height: 32vw;
        top: -12vw; }
  .join .inner form fieldset .member-info {
    padding: 0 20px; } }

/*# sourceMappingURL=style.css.map */
